<form action="/answer" method='GET'>
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="Ask your question?">
  <input type="submit" value="Ask!">
</form>
